<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>App news</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body ng-app>

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" ng-model="query" required>
          <label class="label-icon"  for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>


  <div class="container">
    <div ng-controller="NewsCtrl">
      <div class="row">
        <div class="col m4" ng-repeat='new in news|filter:{intitule:query}'>
          <div class="card" style="height:450px">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{new.imageLink}}" style="width: 100%;height:280px">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4" style="font-weight: 300" >{{new.intitule}}<i class="material-icons right">more_vert</i></span>
              <!--p><a href="#"></a></p-->
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{new.intitule}}<i class="material-icons right">close</i></span>
              <p>{{new.content}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
      </div>
    </div>
    <a href="#modal1" class="btn-floating btn-large modal-trigger waves-effect waves-light red" style="right: 30px;bottom:30px"><i class="material-icons">add</i></a>
  </div>

  <!--  Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script >

    function NewsCtrl($scope){
      $scope.news=[];
      $.ajax({
        url:'http://5.189.178.210:3000/news',
        method:'GET'
      }).done(function (data) {
        console.log(data);
        $scope.news = data;
        $scope.$apply();
      }).fail(function (data) {
        console.log(data);
      })

    }
  </script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>


  </body>
</html>
